{% load static %}
<div class="item" style="background: url({% get_media_prefix %}{{ data.images }})">
                        <div class="gen-movie-contain-style-2 h-100">
                           <div class="container h-100">
                              <div class="row flex-row-reverse align-items-center h-100">
                                 <div class="col-xl-6">
                                    <div class="gen-front-image">
                                       <img src="{% get_media_prefix %}{{ data.images }}" alt="owl-carousel-banner-image">
                                       <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="playBut popup-youtube popup-vimeo popup-gmaps">
                                          <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
                                          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="213.7px"
                                             height="213.7px" viewBox="0 0 213.7 213.7"
                                             enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                             <polygon class="triangle" id="XMLID_17_" fill="none" stroke-width="7"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                points="
                                                            73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                                             <circle class="circle" id="XMLID_18_" fill="none" stroke-width="7"
                                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                                cx="106.8" cy="106.8" r="103.3">
                                             </circle>
                                          </svg>
                                          <span>Смотреть Трейлер</span>
                                       </a>
                                    </div>
                                 </div>
                                 <div class="col-xl-6">
                                    <div class="gen-tag-line"><span>Популярно сейчас</span></div>
                                    <div class="gen-movie-info">
                                       <h3>{{ data.title }}</h3>
                                    </div>
                                    <div class="gen-movie-meta-holder">
                                       <ul class="gen-meta-after-title">
                                          <li class="gen-sen-rating">
                                             <span>
                                                12A</span>
                                          </li>
                                          <li> <img src="{% static 'images/asset-2.png' %}" alt="rating-image">
                                             <span>
                                                0 </span>
                                          </li>
                                       </ul>
                                       <p>{{ data.subject }}
                                       </p>
                                       <div class="gen-meta-info">
                                          <ul class="gen-meta-after-excerpt">
                                             <li>
                                                <strong>Cast :</strong>
                                                {{ data.actors }}
                                             </li>
                                             <li>
                                                <strong>Genre :</strong>
                                                <span>
                                                   <a href="{% url 'home' %}">
                                                      Action, </a>
                                                </span>
                                                <span>
                                                   <a href="{% url 'home' %}">
                                                      Annimation, </a>
                                                </span>
                                                <span>
                                                   <a href="#">
                                                      Family </a>
                                                </span>
                                             </li>
                                             <li>
                                                <strong>Tag :</strong>
                                                <span>
                                                   <a href="#">
                                                      4K Ultra, </a>
                                                </span>
                                                <span>
                                                   <a href="#">
                                                      Brother, </a>
                                                </span>
                                                <span>
                                                   <a href="#">
                                                      Dubbing, </a>
                                                </span>
                                                <span>
                                                   <a href="#">
                                                      Premieres </a>
                                                </span>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <div class="gen-movie-action">
                                       <div class="gen-btn-container">
                                          <a href="single-movie.html" class="gen-button .gen-button-dark">
                                             <i aria-hidden="true" class="fas fa-play"></i> <span class="text">Смотреть</span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>