{% extends 'home/base.html' %}
{% load static %}

{% block content %}
   <!-- owl-carousel Banner Start -->
   <section class="pt-0 pb-0">
      <div class="container-fluid px-0">
         <div class="row no-gutters">
            <div class="col-12">
               <div class="gen-banner-movies banner-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="0">

                     {% include 'home/banner_item.html' with data=test %}
                     {% include 'home/banner_item.html' %}
                     {% include 'home/banner_item.html' %}
                     {% include 'home/banner_item.html' %}

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Banner End -->

   <!-- owl-carousel Videos Section-1 Start -->
   <section class="gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">Лучшее за все время</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
               <div class="gen-movie-action">
                  <div class="gen-btn-container text-right">
                     <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                        <span class="text">Показать еще</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">

                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Videos Section-1 End -->

   <!-- Slick Slider start -->
   <section class="gen-section-padding-2 pt-0 pb-0">
      <div class="container">
         <div class="home-singal-silder">
            <div class="gen-nav-movies gen-banner-movies">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="slider slider-for">
                        <!-- Slider Items -->
                        <div class="slider-item" style="background: url('images/background/asset-4.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>НАЗВАНИЕ СЕРИЯ 1</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Смотреть</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-23.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>Love your life</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-24.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>The Last Witness</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-item" style="background: url('images/background/asset-25.jpeg')">
                           <div class="gen-slick-slider h-100">
                              <div class="gen-movie-contain h-100">
                                 <div class="container h-100">
                                    <div class="row align-items-center h-100">
                                       <div class="col-lg-6">
                                          <div class="gen-movie-info">
                                             <h3>Fight For Life</h3>
                                             <p>Streamlab is a long established fact that a reader will be distracted by
                                                the readable content of a page when Streamlab at its layout Streamlab.
                                             </p>

                                          </div>
                                          <div class="gen-movie-action">
                                             <div class="gen-btn-container button-1">
                                                <a class="gen-button" href="#" tabindex="0">
                                                   <i aria-hidden="true" class="ion ion-play"></i>
                                                   <span class="text">Play Now</span>
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Slider Items -->
                     </div>
                     <div class="slider slider-nav">
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="{% static 'images/background/asset-4.jpeg' %}" alt="steamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>НАЗВАНИЕ СЕРИИ</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>30mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>

                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="{% static 'images/background/asset-23.jpeg' %}" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>Love your life</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>1hr 46mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="{% static 'images/background/asset-24.jpeg' %}" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>The Last Witness</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>1hr 37 mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="slider-nav-contain">
                           <div class="gen-nav-img">
                              <img src="{% static 'images/background/asset-25.jpeg' %}" alt="streamlab-image">
                           </div>
                           <div class="movie-info">
                              <h3>Fight For Life</h3>
                              <div class="gen-movie-meta-holder">
                                 <ul>
                                    <li>2hr 25 mins</li>
                                    <li>
                                       <a href="action.html">
                                          Action </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Slick Slider End -->

{% endblock %}

{% block footer %}
   <!-- footer start -->
   <footer id="gen-footer">
      <div class="gen-footer-style-1">
         <div class="gen-footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <div class="row">
                           <div class="col-sm-12">
                              <img src="{% static 'images/asset-0.png' %}" class="gen-footer-logo" alt="gen-footer-logo">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              <ul class="social-link">
                                 <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-skype"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Explore</h4>
                        <div class="menu-explore-container">
                           <ul class="menu">
                              <li class="menu-item">
                                 <a href="index.html" aria-current="page">Home</a>
                              </li>
                              <li class="menu-item"><a href="movies-pagination.html">Movies</a></li>
                              <li class="menu-item"><a href="tv-shows-pagination.html">Tv Shows</a></li>
                              <li class="menu-item"><a href="video-pagination.html">Videos</a></li>
                              <li class="menu-item"><a href="#">Actors</a></li>
                              <li class="menu-item"><a href="#">Basketball</a></li>
                              <li class="menu-item"><a href="#">Celebrity</a></li>
                              <li class="menu-item"><a href="#">Cross</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Company</h4>
                        <div class="menu-about-container">
                           <ul class="menu">
                              <li class="menu-item"><a href="contact-us.html">Company</a>
                              </li>
                              <li class="menu-item"><a href="contact-us.html">Privacy
                                    Policy</a></li>
                              <li class="menu-item"><a href="contact-us.html">Terms Of
                                    Use</a></li>
                              <li class="menu-item"><a href="contact-us.html">Help
                                    Center</a></li>
                              <li class="menu-item"><a href="contact-us.html">contact us</a></li>
                              <li class="menu-item"><a href="pricing-style-1.html">Subscribe</a></li>
                              <li class="menu-item"><a href="#">Our Team</a></li>
                              <li class="menu-item"><a href="contact-us.html">Faq</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3  col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Downlaod App</h4>
                        <div class="row">
                           <div class="col-sm-12">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              <a href="#">
                                 <img src="{% static 'images/asset-35.png' %}" class="gen-playstore-logo" alt="playstore">
                              </a>
                              <a href="#">
                                 <img src="{% static 'images/asset-36.png' %}" class="gen-appstore-logo" alt="appstore">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="gen-copyright-footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 align-self-center">
                     <span class="gen-copyright"><a target="_blank" href="#"> Copyright 2021 stremlab All Rights
                           Reserved.</a></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer End -->
{% endblock %}