{% extends 'home/base.html' %}
{% load static %}

{% block content %}
   <!-- owl-carousel Banner Start -->
   <section class="pt-0 pb-0">
      <div class="container-fluid px-0">
         <div class="row no-gutters">
            <div class="col-12">
               <div class="gen-banner-movies banner-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="1"
                     data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1" data-autoplay="true"
                     data-loop="true" data-margin="0">

                     {% for item in main_banner %}
                        {% if item.type == 'movie' %}
                           {% include 'home/banner_item.html' with data=item.entity type=item.type %}
                        {% else %}
                           {% include 'home/banner_item.html' with data=item.entity type=item.type %}
                        {% endif %}
                     {% endfor %}

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Banner End -->

{% include 'home/top_10.html' with data=top_10 %}

<!-- owl-carousel Videos Top 10 Start -->
   <section class="gen-section-padding-2">
      <div class="container">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
               <h4 class="gen-heading-title">Top 10</h4>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
               <div class="gen-movie-action">
                  <div class="gen-btn-container text-right">
                     <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                        <span class="text">Показать еще</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-3">
            <div class="col-12">
               <div class="gen-style-2">
                  <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true" data-desk_num="4"
                     data-lap_num="3" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false"
                     data-loop="false" data-margin="30">

                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}
                     {% include 'home/gen_section_item.html' %}

                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- owl-carousel Videos Section-1 End -->

{% endblock %}

{% block footer %}
   <!-- footer start -->
   <footer id="gen-footer">
      <div class="gen-footer-style-1">
         <div class="gen-footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <div class="row">
                           <div class="col-sm-12">
                              <img src="{% static 'images/asset-0.png' %}" class="gen-footer-logo" alt="gen-footer-logo">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              <ul class="social-link">
                                 <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-skype"></i></a></li>
                                 <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Explore</h4>
                        <div class="menu-explore-container">
                           <ul class="menu">
                              <li class="menu-item">
                                 <a href="index.html" aria-current="page">Home</a>
                              </li>
                              <li class="menu-item"><a href="movies-pagination.html">Movies</a></li>
                              <li class="menu-item"><a href="tv-shows-pagination.html">Tv Shows</a></li>
                              <li class="menu-item"><a href="video-pagination.html">Videos</a></li>
                              <li class="menu-item"><a href="#">Actors</a></li>
                              <li class="menu-item"><a href="#">Basketball</a></li>
                              <li class="menu-item"><a href="#">Celebrity</a></li>
                              <li class="menu-item"><a href="#">Cross</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Company</h4>
                        <div class="menu-about-container">
                           <ul class="menu">
                              <li class="menu-item"><a href="contact-us.html">Company</a>
                              </li>
                              <li class="menu-item"><a href="contact-us.html">Privacy
                                    Policy</a></li>
                              <li class="menu-item"><a href="contact-us.html">Terms Of
                                    Use</a></li>
                              <li class="menu-item"><a href="contact-us.html">Help
                                    Center</a></li>
                              <li class="menu-item"><a href="contact-us.html">contact us</a></li>
                              <li class="menu-item"><a href="pricing-style-1.html">Subscribe</a></li>
                              <li class="menu-item"><a href="#">Our Team</a></li>
                              <li class="menu-item"><a href="contact-us.html">Faq</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3  col-md-6">
                     <div class="widget">
                        <h4 class="footer-title">Downlaod App</h4>
                        <div class="row">
                           <div class="col-sm-12">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              <a href="#">
                                 <img src="{% static 'images/asset-35.png' %}" class="gen-playstore-logo" alt="playstore">
                              </a>
                              <a href="#">
                                 <img src="{% static 'images/asset-36.png' %}" class="gen-appstore-logo" alt="appstore">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="gen-copyright-footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 align-self-center">
                     <span class="gen-copyright"><a target="_blank" href="#"> Copyright 2021 stremlab All Rights
                           Reserved.</a></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer End -->
{% endblock %}