{% load static %}

<div class="item">
   <div
      class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
      <div class="gen-carousel-movies-style-2 movie-grid style-2">
         <div class="gen-movie-contain">
            <div class="gen-movie-img">
               <img src="{% get_media_prefix %}{{ data.entity.images }}" class="contrast-img" alt="{{ data.entity.title}}">
               <div class="gen-movie-action">

                  {% if data.type == 'movie' %}
                     <a href="{% url 'movie:detail_movie' data.entity.slug %}" class="gen-button">
                        <i class="fa fa-play"></i>
                     </a>
                  {% else %}
                     <a href="{% url 'shows:detail_shows' data.entity.slug %}" class="gen-button">
                        <i class="fa fa-play"></i>
                     </a>
                  {% endif %}

               </div>
            </div>
            <div class="gen-info-contain">
               <div class="gen-movie-info">
                  {% if data.type == 'movie' %}
                  <h3>
                     <a href="{% url 'movie:detail_movie' data.entity.slug %}">{{ data.title }}</a>
                  </h3>
                  {% else %}
                  <h3>
                     <a href="{% url 'shows:detail_shows' data.entity.slug %}">{{ data.title }}</a>
                  </h3>
                  {% endif %}

               </div>
               <div class="gen-movie-meta-holder">
                  <ul>
                     <li>{{ data.entity.total_watch }} Views</li>
                     <li>
                        {% for item in data.genres %}
                           <a href="{% url 'genre:main_genre' item.slug %}"><span>{{ item.title.capitalize }}</span></a>
                        {% endfor %}
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- #post-## -->
</div>